//Fuentes
$Roboto: 'Roboto';
$RobotoLight: regular 400 20px 'Roboto';
$PlayFair: regular 400 20px 'Playfair Display';
$PlayFCursivaG: italic 900 70px 'Playfair Display';
$PlayFCursivaP: italic 700 30px 'Playfair Display';
$PlayFRegularNav: regular 400 16px 'Playfair Display';

$FontRegular: 400;
$FontLight: 300;
$FontBold: 900;

//colores
$fuzzyWuzzy: #E56353;
$ruddyPink: #D76C69;
$spanishPink: #ECBCBA;
$eerieBlack: #121619;
$raisinBlack: #222323;
$nickel: #6C6E70;
$white: #fff;
$platinum: #E6E7E7;
$lightGray: #D1D1D1;
$black: black;
$Grey: grey;